@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";

html, body {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  flex-basis: 100%;
}

.header {
  height: 12em;
  background-color: black;
  opacity: .9;
  text-align: center;
}

#logo {
  margin: 4.5em;
}

.navigation {
  height: 5em;
  color: white;
  background-color: black;
  opacity: .9;
}

.navbar {
  flex-direction: row;
  text-align: center;
}

.nav-link {
  color: white;
  font-family: helvetica;
  font-size: 12px;
  font-weight: lighter;
  text-decoration: none;
}

.nav-link:hover {
  color: #adc6a3;
}

.option {
  width: 100%;
  font-size: 7px;
  color: #fff;
  background-color: black;
  opacity: .9;
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px;
}

.option:hover {
  color: black;
  background-color: white;
}

.intro-slide {
  background-color: #707D69;
  opacity: .9; 
}

.flexslider { 
  border: 8px solid #707D69;
}

.flexslider img {
  height: 100%;
  width: 100%;
}

.flex-caption {
  width: 20%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
  position: absolute;
}

.slide-two {
  font-family: helvetica;
  background-color: #707D69;
  text-align: center;
}

.slide-two-frame {
  border-radius: 4px;
  background-color: black;
  opacity: .8;
}

.slide-headers-txt {
  font-family: helvetica;
  font-size: 1.7em;
  font-weight: lighter;
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
}

.services-pic {
  height: 95%;
  width: 99%;
  margin: 0 auto;
}

.services-txt p {
  line-height: 150%;
  font-size: 1.2em;
  font-weight: lighter;
  width: 90%;
  margin-top: .2%;
  margin-bottom: 1%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #fff;
  opacity: .6;
  display: none;
}

.services-txt-mb {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  opacity: .6;
  position: absolute;
}

.slide-three {
  border-bottom: 1px solid rgb(223, 221, 221);
}

.slide-four {
  text-align: center;
  background-color: #707D69;
}

#slide-four-header {
  color: #fff;
  opacity: .7;
  margin-top: 6%;
  margin-bottom: 5%;
}

#about-pic {
  width: 20%;
  border-radius: 4px;
}

.about-txt-frame {
  opacity: .7;
  margin-top: .5em;
}

.about-txt-header {
  font-family: helvetica;
  margin-top: 5%
}

.about-txt {
  font-family: helvetica;
  font-weight: lighter;
  line-height: 150%;
  padding: 2%;
}

#mv-lr-sm {
  display: none;
}

.footer {
  height: 8em;
  width: 100%;
  background-color: black;
  opacity: .9;
  flex-direction: row;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  margin-top: 3em;
}

.footer-link a {
  font-family: helvetica;
  text-decoration: none;
  color: white;
  opacity: .7;
}

@media screen and (min-width: 300px) { 
  #logo {
    height: 25%;
    width: 80%;
    padding-top: 2em;
    margin: 2.5em;
  }
}

@media screen and (min-width: 560px) { 
  #logo {
    height: auto !important;
    width: auto !important;
    padding-top: 0;
    margin: 4.5em;
  }
}

@media screen and (min-width: 850px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex: 1;
  }

  .option {
    font-size: 12px;
    height: 30%;
    width: 160%;
    color: #fff;
    background-color: black;
    opacity: .9;
    border: 1px solid white;
    border-radius: 2px;
    padding: 4px;
    margin: 3px;
  }

  .intro-slide {
    height: 30%;;
    background-color: black;
    opacity: .9; 
  }

  .flexslider { 
    margin-bottom: 8em;
  }

  ._20 {
    flex: 2;
  }

  ._60 {
    flex: 6;
  }

  .slide-two {
    font-family: helvetica;
    background-color: #707D69;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .slide-two-frame {
    border-radius: 4px;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #fbefdf;
  }

  ._05 {
    flex: .5;
  }

  ._95 {
    flex: 9;
  }

  .slide-headers-txt {
    font-size: 2em;
    font-weight: lighter;
    margin-top: 4%;
    margin-bottom: 7%;
    color: black;
  }

  .services-pic {
    display: inline-block;
    height: 80%;
    width: 80%;
    border-radius: 7px;
    margin-bottom: 10%;
  }

  .services-txt p {
    line-height: 200%;
    font-size: 1.2em;
    font-weight: lighter;
    width: 70%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fbefdf;
    display: inline-block;
  }

  .last {
    margin-bottom: 5%;
  }

  #slide-three {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .services-txt-mb {
    display: none;
  }

  .slide-four {
    background-color: #707D69;
    padding-bottom: 4%;
  }

  .about-txt-frame {
    border-radius: 4px;
    background-color: white;
    opacity: .4;
  }

  .about-txt-header {
    font-family: helvetica;
    margin-top: 10%
  }

  .about-txt {
    line-height: 180%;
  }

  .about-txt-frame {
    margin-top: 0;
  }

  .about-pic {
    width: 60%;
    border-radius: 4px;
  }

  #mv-lr-sm {
    display: inline-block;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1300px) {
  #services {
    font-size: 3em;
    margin-bottom: 2%;
  }

  .services-pic {
    height: 65%;
    width: 70%;
    border-radius: 7px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .services-txt p {
    line-height: 200%;
    font-size: 1.5em;
    font-weight: lighter;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .last {
    margin-bottom: 5%;
  }
}

