html, body {
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  background-color: black;
  opacity: .9;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
}

.nested-row {
  flex-direction: row;
}

.column {
  flex-basis: 100%;
}

.news-pic {
  zoom: 40%;
}

#return {
  margin: .5em;
  text-align: right;
}

#return-link {
  font-family: helvetica;
  text-decoration: none;
  color: white;
}

#return-link:hover {
  color: #707D69;
}

.bunker-hill-img {
  text-align: center;
  max-width: 70%;
  zoom: 15%;
}

.designer-west-pic {
  zoom: 25%;
}

@media screen and (min-width: 300px) { 
  .bunker-hill-img {
    zoom: 20%;
  }
}

@media screen and (min-width: 560px) { 
  .news-pic {
    zoom: 70%;
  }

  .bunker-hill-img {
    zoom: 25%;
  }

  .designer-west-pic {
    zoom: 40%;
  }
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex: 1;
    margin: .2em;
  }

  ._05 {
    flex: .5;
  }

  ._90 {
    flex: 9;
  }

  .news-pic {
    zoom: 80%;
  }

  .bunker-hill-img {
    zoom: 40%;
  }

  .designer-west-pic {
    zoom: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .news-pic {
    zoom: 100%;
  }

  .bunker-hill-img {
    zoom: 50%;
  } 

  .designer-west-pic {
    zoom: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .bunker-hill-img {
    zoom: 60%;
  }

  .designer-west-pic {
    zoom: 65%;
  }
}