@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";

body{
  width: 100%;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    flex-direction: row;
  }

  .column {
    flex: 1;
  }

  .header {
    height: 12em;
    background-color: black;
    opacity: .9;
    text-align: center;
  }

  #logo {
    margin: 4.5em;
  }

  .navigation {
    height: 5em;
    color: white;
    background-color: black;
    opacity: .9;
  }

  .navbar {
    text-align: center;
  }

  .nav-link {
    color: white;
    font-family: helvetica;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
  }

  .nav-link:hover {
    color: #adc6a3;
  }

  .option {
    font-size: 12px;
    height: 30%;
    width: 160%;
    color: #fff;
    background-color: black;
    opacity: .9;
    border: 1px solid white;
    border-radius: 2px;
    padding: 4px;
    margin: 3px;
  }

  button {
    outline: none;
  }

  .intro-slide {
    height: 30%;;
    background-color: black;
    opacity: .9;
  }

  .flexslider { 
    border: 8px solid #707D69;
  }

  .flexslider img {
    height: 100%;
    width: 100%;
  }

  ._20 {
    flex: 2;
  }

  ._60 {
    flex: 6;
  }

  .slide-two {
    font-family: helvetica;
    background-color: #707D69;
    text-align: center;
  }

  .slide-two-frame {
    border-radius: 4px;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #fbefdf;
  }

  ._05 {
    flex: .5;
  }

  ._95 {
    flex: 9.5;
  }

  #services {
    font-size: 2em;
    font-weight: lighter;
    margin-top: 4%;
    margin-bottom: 7%;
  }

  .services-pic {
    height: 80%;
    width: 80%;
    border-radius: 7px;
    margin-bottom: 10%;
  }

  .services-txt p {
    line-height: 200%;
    font-size: 1.2em;
    font-weight: lighter;
    width: 70%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .last {
    margin-bottom: 5%;
  }

}

@media screen and (min-width: 1300px) {
  #services {
    font-size: 3em;
    margin-bottom: 2%;
  }

  .services-pic {
    height: 65%;
    width: 70%;
    border-radius: 7px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .services-txt p {
    line-height: 200%;
    font-size: 1.5em;
    font-weight: lighter;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .last {
    margin-bottom: 5%;
  }
}

